appdirs==1.4.4
asgiref==3.5.0
beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.12
cssselect2==0.5.0
datapoint==0.9.8
Django==4.0.3
django-filter==21.1
django-tables2==2.4.1
easy-thumbnails==2.8.1
eumdac==1.0.0
idna==3.3
importlib-metadata==4.11.3
jplephem==2.17
lxml==4.8.0
Markdown==3.4.1
numpy==1.22.3
Pillow==9.0.1
psycopg2==2.9.3
pytz==2021.3
reportlab==3.6.8
requests==2.27.1
sgp4==2.20
skyfield==1.42
soupsieve==2.3.1
sqlparse==0.4.2
svglib==1.2.1
tinycss2==1.1.1
urllib3==1.26.9
webencodings==0.5.1
zipp==3.7.0
