<p class = 'text-light'>
    Sun rises:  
    {% if astro_data.sunrise %}
        {{ astro_data.sunrise|date:"H:i" }}
    {% else %}  
        &ndash;
    {% endif %} 
    <br>
    Sun sets:       
    {% if astro_data.sunset %}
        {{ astro_data.sunset|date:"H:i" }}
    {% else %} 
        &ndash;
    {% endif %} 
    <br>        
    Moon rises : 
    {% if astro_data.moonrise %}
        {{ astro_data.moonrise|date:"H:i"}}<br>
    {% else %}
        &ndash;<br>
    {% endif %}    
    Moon sets: 
    {% if astro_data.moonset %}
        {{ astro_data.moonset|date:"H:i"}}<br>
    {% else %}
        &ndash;<br>
    {% endif %}   
    
    Phase: {{ astro_data.moonphase }} /360&deg; 
</p>