{% extends "base.html" %}

<!-- These are for leaflet/maps -->
{% load geojson_tags %}
{% load leaflet_tags %}

{% block title %} Warning Details {% endblock %}

{% block content %}
<h2>Met Office Weather Warning</h2>


<h2>{{ warning.warningHeadline }}</h2>
<p><strong><span  
   {% if warning.warningLevel == 0 %} class = "warning_yellow" 
   {% elif warning.warningLevel == 1 %} class = "warning_amber"
   {% elif warning.warningLevel == 2 %} class = "warning_red"
   {% endif %}
   >
   {{  warning.get_warningLevel_display|upper }}
   </span>
   <span class="weather">
   {% for wt in warning.display_weatherType %}
       {{ wt|upper }}
       
   {% endfor %}
   </span>
   
</strong></p>

<p><small>In force {{ warning.validFromDate|date:"P"}} on {{ warning.validFromDate|date:"D, d M, Y"}} 
    to  {{ warning.validToDate|date:"P"}} on {{ warning.validToDate|date:"D, d M, Y"}} . Issued {{ warning.issuedDate }}</small></p>

<div class="border-bottom mb-4 pb-2">
<h5>Areas affected</h5>

<p>
   {% for area in warning.display_regions %}
   {{area}} 
   {% if not forloop.last %},{% endif %}
   {% endfor %}
</p>
<h5>What to expect</h5>
<p>{{ warning.whatToExpect }}</p>

<h5> Likelihood and Impact</h5>
<p> This warning has a {{ warning.get_warningLikelihood_display }} likelihood and a 
   {{ warning.get_warningImpact_display }} impact.  
</p>

<h5>Map of areas affected</h5>
<div>{% leaflet_map "map" callback="map_init" %}</div>
   <script type="text/javascript">
   
   function map_init(map, options) {
      
      function getHtml() {
         html1 = '<strong><span class = {% if warning.warningLevel == 0 %}  "warning_yellow"> YELLOW </span>'
            {% elif warning.warningLevel == 1 %} "warning_amber" > AMBER </span>'
            {% elif warning.warningLevel == 2 %} "warning_red" > RED </span>'
            {% endif %}
        
         html1 = html1 + '</strong>'

         html2 = '<strong><span class="weather">'

         html3 = '{% for wt in warning.display_weatherType %} {{ wt|upper }} {% endfor %} </span></strong>'

         return html1+ html2 + html3;
      }

      function onEachFeature(feature, layer) {
         // does this feature have a property named popupContent?
  
      layer.bindTooltip(getHtml(), { permanent: true, direction: "center",});
      //layer.bindTooltip("another test");
      }

      function polystyle(feature) {
      return {
         fillColor:  {% if warning.warningLevel == 0 %} 'yellow', 
                     {% elif warning.warningLevel == 1 %} 'orange',
                     {% elif warning.warningLevel == 2 %} 'red', {% endif %}
         weight: 2,
         opacity: 1,
         color:      {% if warning.warningLevel == 0 %} 'yellow', 
                     {% elif warning.warningLevel == 1 %} 'orange',
                     {% elif warning.warningLevel == 2 %} 'red', {% endif %}
         fillOpacity: 0.3
      };
   }
      
      var area = L.geoJson({{warning.get_geojson|safe}}, {style: polystyle, onEachFeature: onEachFeature,}).addTo(map);
      map.fitBounds(area.getBounds());
   }
   </script>
<p><small>Warning status: {{ warning.get_warningStatus_display|title }}. Last modified: {{ warning.modifiedDate }} id:{{ warning.warningId }}</small></p>
  
</div>

{% endblock %}