{% extends "base.html" %}

{% load warning_tags %}

{% block title %}Warning list {% endblock %}

{% block content %}

<h2>Met Office Weather Warnings {{ title }}</h2>
 
{% for warning in warnings %}
<div class="border-bottom mb-4 pb-2">
    <p><strong><span  
        {% if warning.warningLevel == 0 %} class = "warning_yellow" 
        {% elif warning.warningLevel == 1 %} class = "warning_amber"
        {% elif warning.warningLevel == 2 %} class = "warning_red"
        {% endif %}
        >
        {{  warning.get_warningLevel_display|upper }}
        </span>
        <span class="weather">
        {% for wt in warning.display_weatherType %}
            {{ wt|upper }}
            
        {% endfor %}
        </span>
        
    </strong></p>


    <h4>
    <a href="{{ warning.get_absolute_url }}"> 
    {{ warning.warningHeadline|truncatewords:40 }}      
        
    </a></h4>
    
    <p> 
        {% for r in warning.display_regions %}
        {{ r }}
        {% if not forloop.last %},
        {% endif %}
        {% endfor %}
    </p>
    
    <p>
        From {{ warning.validFromDate|date:"P"}} on {{ warning.validFromDate|date:"D, d M, Y"}} 
        to  {{ warning.validToDate|date:"P"}} on {{ warning.validToDate|date:"D, d M, Y"}}
    <br>
    Status:{{ warning.get_warningStatus_display }}
    </p>

</div>
{% empty %}
<p>No warnings</p>
{% endfor %}

    {% if is_paginated %}
    {% if page_obj.has_previous %}
        <a href="?{% param_replace page=1 %}">First</a>
        {% if page_obj.previous_page_number != 1 %}
        <a href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
        {% endif %}
    {% endif %}

    Page {{ page_obj.number }} of {{ paginator.num_pages }}

    {% if page_obj.has_next %}
        {% if page_obj.next_page_number != paginator.num_pages %}
        <a href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
        {% endif %}
        <a href="?{% param_replace page=paginator.num_pages %}">Last</a>
    {% endif %}

    <p>Warnings {{ page_obj.start_index }}—{{ page_obj.end_index }}</p>
    {% endif %}

{% endblock %}